USE [SIM]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 04/20/2015 21:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SO_CMND] [nvarchar](20) NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[QUE_QUAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON
INSERT [dbo].[KHACH_HANG] ([ID], [SO_CMND], [HO_TEN], [QUE_QUAN]) VALUES (2, N'205225567', N'Nguyễn Văn Tí', N'Quảng Nam')
INSERT [dbo].[KHACH_HANG] ([ID], [SO_CMND], [HO_TEN], [QUE_QUAN]) VALUES (5, N'205225568', N'Nguyễn Văn Tèo', N'Hà Tây')
INSERT [dbo].[KHACH_HANG] ([ID], [SO_CMND], [HO_TEN], [QUE_QUAN]) VALUES (6, N'205225567', N'Nguyễn Chí Phèo', N'Lò Gạch')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
/****** Object:  Table [dbo].[GOI_CUOC]    Script Date: 04/20/2015 21:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOI_CUOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_GOI_CUOC] [nvarchar](50) NULL,
	[CUOC_GOI_NOI_MANG] [int] NULL,
	[CUOC_GOI_NGOAI_MANG] [int] NULL,
	[CUOC_NHAN_TIN_NOI_MANG] [int] NULL,
	[CUOC_NHAN_TIN_NGOAI_MANG] [int] NULL,
 CONSTRAINT [PK_GOI_CUOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GOI_CUOC] ON
INSERT [dbo].[GOI_CUOC] ([ID], [TEN_GOI_CUOC], [CUOC_GOI_NOI_MANG], [CUOC_GOI_NGOAI_MANG], [CUOC_NHAN_TIN_NOI_MANG], [CUOC_NHAN_TIN_NGOAI_MANG]) VALUES (2, N'See', 1000, 1200, 100, 200)
SET IDENTITY_INSERT [dbo].[GOI_CUOC] OFF
/****** Object:  Table [dbo].[CUOC_GOI]    Script Date: 04/20/2015 21:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUOC_GOI](
	[ID] [int] NOT NULL,
	[THUE_BAO_DUOC_GOI] [varchar](20) NULL,
	[THOI_GIAN_BAT_DAU] [datetime] NULL,
	[THOI_GIAN_KET_THUC] [datetime] NULL,
 CONSTRAINT [PK_CUOC_GOI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE_NOP_TIEN]    Script Date: 04/20/2015 21:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_NOP_TIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SO_SERI] [nvarchar](25) NULL,
	[MENH_GIA] [int] NULL,
	[THOI_GIAN_NOP] [datetime] NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_THE_NOP_TIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[THE_NOP_TIEN] ON
INSERT [dbo].[THE_NOP_TIEN] ([ID], [SO_SERI], [MENH_GIA], [THOI_GIAN_NOP], [TRANG_THAI]) VALUES (2, N'0123121122236', 1234, CAST(0x0000A56D00000000 AS DateTime), 0)
INSERT [dbo].[THE_NOP_TIEN] ([ID], [SO_SERI], [MENH_GIA], [THOI_GIAN_NOP], [TRANG_THAI]) VALUES (3, N'0123121122234', 123, CAST(0x0000A55A00000000 AS DateTime), 1)
INSERT [dbo].[THE_NOP_TIEN] ([ID], [SO_SERI], [MENH_GIA], [THOI_GIAN_NOP], [TRANG_THAI]) VALUES (6, N'0121212322244', 1234, CAST(0x0000A55A00000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[THE_NOP_TIEN] OFF
/****** Object:  Table [dbo].[SIM]    Script Date: 04/20/2015 21:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SO_THUE_BAO] [varchar](20) NULL,
	[NGAY_DANG_KY] [date] NULL,
	[TAI_KHOAN_CHINH] [int] NULL,
	[TAI_KHOAN_KHUYEN_MAI] [int] NULL,
	[KHACH_HANG_ID] [int] NULL,
	[GOC_CUOC] [int] NULL,
	[CUOC_GOI] [int] NULL,
 CONSTRAINT [PK_SIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_SIM_CUOC_GOI]    Script Date: 04/20/2015 21:18:00 ******/
ALTER TABLE [dbo].[SIM]  WITH CHECK ADD  CONSTRAINT [FK_SIM_CUOC_GOI] FOREIGN KEY([CUOC_GOI])
REFERENCES [dbo].[CUOC_GOI] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SIM] CHECK CONSTRAINT [FK_SIM_CUOC_GOI]
GO
/****** Object:  ForeignKey [FK_SIM_GOI_CUOC]    Script Date: 04/20/2015 21:18:00 ******/
ALTER TABLE [dbo].[SIM]  WITH CHECK ADD  CONSTRAINT [FK_SIM_GOI_CUOC] FOREIGN KEY([GOC_CUOC])
REFERENCES [dbo].[GOI_CUOC] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SIM] CHECK CONSTRAINT [FK_SIM_GOI_CUOC]
GO
/****** Object:  ForeignKey [FK_SIM_KHACH_HANG]    Script Date: 04/20/2015 21:18:00 ******/
ALTER TABLE [dbo].[SIM]  WITH CHECK ADD  CONSTRAINT [FK_SIM_KHACH_HANG] FOREIGN KEY([KHACH_HANG_ID])
REFERENCES [dbo].[KHACH_HANG] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SIM] CHECK CONSTRAINT [FK_SIM_KHACH_HANG]
GO
